
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color:#2C84C7;
    color: #333;
    
}

header {
    text-align: center;
    background-color:#4251AE;
    color: white;
    padding: 20px 10px;
    margin-bottom: 20px;
}

header h1 {
    margin: 0;
    font-size: 2em;
}

header p {
    margin: 5px 0 0;
}


.product-collection {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    gap: 15px;
    padding: 20px;
    max-width: 900px;
    margin: 0 auto;
}


.product-card {
    background-image: url(hwbg_1.jpeg);
    background-color: white;
    border: 1px solid #ccc;
    padding: 10px;
    border-radius: 5px;
    text-align: center;
}

.product-card h2 {
    font-size: 1.2em;
    color: white;
    margin: 10px 0;
}

.product-card p {
    font-size: 0.9em;
    color: #666;
}

.product-image {
    width: 100%;
    height: 150px;
    background-size: cover;
    background-position: c
}
a{
    text-decoration: none;
    color:white;
}